<ng-template #loggedIn>
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/chat-list" routerLinkActive="active">Chat</a>
  </li>
</ng-template>    
<ng-template #loggedOut>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
  </li>
</ng-template>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="this.loginService.getToken() !== undefined; then loggedIn; else loggedOut">
        </ng-container>        
      </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

<app-alerts></app-alerts>