<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
            <span>Utenti:</span>{{this.usersConnected}}
        </div>
      </div>
      <div class="row" *ngFor="let user of this.usersConnectedList">
        <a href="#" (click)="privateChat(user)">
          <div class="col">
              <span>{{user.Username}}</span> - <span><small>{{user.ConnectionId}}</small></span>
          </div>
        </a>
      </div>
    </div>
    <div class="col">
        <div class="row">
          <div class="col">
            <span>Gruppi:</span>{{this.groups}}
          </div>
        </div>
        <div class="row" *ngFor="let group of this.groupsList">
          <div class="col">
            <span>{{group}}</span>
          </div>
        </div>
    </div>
  </div>
</div>
