<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col users-online">
          <i class="fa fa-user"></i>
          <span>Utenti online</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul class="list-group" *ngFor="let user of this.usersConnectedList">
            <li class="list-group-item list-group-item-action list-group-item-light d-flex justify-content-between align-items-center"
              (click)="privateChat(user)">
              <span>{{user.Username}}</span>
              <span class="badge badge-primary badge-pill">{{user.ConnectionId}}</span>
            </li>
          </ul>
          <hr/>
          <small>Utenti online totali: {{this.usersConnected ? this.usersConnected : 0}}</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col groups-online">
          <i class="fa fa-users"></i>
          <span>Gruppi online</span>
        </div>
      </div>
      <div class="row" *ngFor="let group of this.groupsList">
        <div class="col">
          <span>{{group}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <hr/>
          <small>Gruppi online totali: {{this.groups ? this.groups : 0}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
