@{
    ViewData["Title"] = "Temperature";
    Layout = "_Layout";
}

<div id="heartRateContainer" style="height: 90%; width: 85%; position: absolute"></div>

@section Scripts
    {
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="~/js/hubs/temperaturehub.js"></script>

}