<div *ngFor="let message of this.privateChatDataStore.messages">
    <app-chat-message message="message" currentUser="privateChatDataStore.currentUser"></app-chat-message>
</div>
<div class="row">
  <form #sendMessage="ngForm">
    <div class="form-group">
      <label for="newMessage">Messaggio</label>
      <input type="text" class="form-control" id="newMessage" required [(ngModel)]="newMessage.textMessage">
    </div>
    <button type="submit" class="btn btn-success"
      (click)="addMessage(); sendMessage.reset();"
      [disabled]="!sendMessage.form.valid">Invia</button>
  </form>
</div>